# Base de datos
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
.env/
.venv/

# Variables de entorno
.env

# Cobertura de pruebas
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

# Codespaces / sistema
.DS_Store

